* {
  margin: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: #fff;
    padding: 20px;
  }
  
  .logo {
    position: relative;
    top:0;
    left: 20px;
    width: 50px;
    height: 40px;
  }
  
  .buttons {
    display: flex;
    gap: 10px;
  }
  
  .buttons2 {
    background-color: transparent;
    border: none;
    /* color: #ffffff; */
    font-size: 16px;
    /* cursor: pointer; */
  }
  
  .buttons2:hover {
    /* text-decoration: underline; */
    background-color: #3498db;
    border-radius: 30px;
  }

 .buttons2 {
    /* font-size: 15px; */
    border: none;
    color: #fff;
    cursor: pointer;
    text-decoration: none;
  }

  